cidadania-inteligente-firebase-adminsdk-r64q9-66953f20fc.json
PlayerController.class
TaskController.class
out
.gradle
target
.idea/workspace.xml
.idea/modules.xml
.idea/modules
.idea
resources
uploads/
